<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}AOSC Packages{% endblock %}</title>
<link rel="icon" href="/static/aosc.png">
<meta name="theme-color" content="#2489c9">
<link rel="icon" sizes="any" type="image/svg+xml" href="/static/aosc.svg">
<link rel="apple-touch-icon-precomposed" href="/static/aosc.svg">
<link rel="stylesheet" href="/static/style.css">
<script src="/static/autocomplete.js"></script>
</head>
<body>
{% include 'nav.inc.html' %}
<header class="banner">
<div class="container">
{% block banner %}<h1>AOSC Packages</h1>{% endblock %}
</div>
</header>
<div class="container">
<main>
{% block main %}{% endblock %}
</main>
<footer class="page-footer">
	<span>Copyleft 2011–2017, members of the community.</span>
</footer>
</div>
<script src="/pkgtrie.js"></script>
</body>
</html>
