{% extends "base.html" %}
{% block banner %}<h1>AOSC Packages</h1>
<p>AOSC has a total of <span class="num">{{ total }}</span> packages{# across <span class="num">{{ archs }}</span> architectures #}.</p>
{% endblock %}
{% block main %}
<h2>Latest Source Updates</h2>
<p>These updates will be available in the dpkg source at the end of each month.</p>
<table class="packages">
<tbody>
{% for pkg in updates -%}
  <tr>
    <td class="pkg-name">
      <a href="/packages/{{ pkg['name'] }}">{{ pkg['name'] }}</a>
    </td>
    <td class="pkg-version">{{ pkg['full_version'] }}</td>
    <td class="pkg-description">{{ pkg['description'] }}</td>
  </tr>
{%- endfor %}
</tbody>
</table>
<h2>Repositories and Trees</h2>
<table class="packages">
<tbody>
  <tr>
    <th>Repository</th>
    <th>Package Count</th>
    <th>Last Update</th>
  </tr>
{% for repo in repos -%}
  <tr>
    <td class="repo-name"><a href="/repo/{{ repo['name'] }}">{{ repo['name'] }}</a></td>
    <td class="repo-pkgcount">
      <span class="num">{{ repo['pkgcount'] }}</span>
      (<a href="/lagging/{{ repo['name'] }}" title="Show packages not available in {{ repo['name'] }}">lagging</a>{% if repo['ghost'] %}
      | <a href="/ghost/{{ repo['name'] }}" class="num" title="Show {{ repo['name'] }} packages not found in source tree">{{ repo['ghost'] }} ghost</a>
      {%- endif %})
    </td>
    <td class="repo-date"><time datetime="{{ repo['date']|strftime('%Y-%m-%dT%H:%M:%SZ') }}"></time>{{ repo['date']|strftime('%Y-%m-%d %H:%M UTC') }}</td>
  </tr>
{%- endfor %}
  <tr>
    <th>Source Tree</th>
    <th>Package Count</th>
    <th>Last Update</th>
  </tr>
{% for tree in source_trees -%}
  <tr>
    <td class="repo-name"><a href="https://github.com/AOSC-Dev/{{ tree['name'] }}">{{ tree['name'] }}</a></td>
    <td class="repo-pkgcount"><a href="/tree/{{ tree['name'] }}" class="num" title="Show packages in {{ tree['name'] }}">{{ tree['pkgcount'] }}</a></td>
    <td class="repo-date"><time datetime="{{ tree['date']|strftime('%Y-%m-%dT%H:%M:%SZ') }}"></time>{{ tree['date']|strftime('%Y-%m-%d %H:%M UTC') }}</td>
  </tr>
{%- endfor %}
</tbody>
</table>
{% endblock main %}
