<nav class="navbar navbar-default navbar-fixed-top" id="nav">
  <div class="container">
  <ul class="navbar-ul">
    <!-- Example for block "navbar"-->
    <li class="afe-primary"><a href="https://aosc.io">AOSC</a></li>
    <li><a href="/">Packages</a></li>
    <li><a href="/">Architectures</a></li>
    <li class="afe-highlight">
      <form id="searchbox" action="/search/" method="get">
        <input name="q" id="searchinput" placeholder="Search package">
      </form>
    </li>
  </ul>
  </div>
</nav>
