<nav class="navbar navbar-default navbar-fixed-top" id="nav">
	<div class="container">
		<ul class="navbar-nav nav">
			<!-- Example for block "navbar"-->
			<li class="afe-primary"><a href="/">AOSC</a></li>
			<li><a href="/community">COMMUNITY</a></li>
			<li><a href="/news">NEWS</a></li>
			<li><a href="/people">PEOPLE</a></li>
			<li><a href="/projects">PROJECTS</a></li>
			<li><a href="/about">ABOUT</a></li>
			<li class="afe-highlight"><a href="/os-download">GET AOSC OS</a></li>
		</ul>
	</div>
</nav>
