{% extends "base.html" %}
{% block title %}{{ pkg['name'] }} - AOSC OS Packages{% endblock %}
{% block banner %}<h1>{{ pkg['name'] }}
{% if pkg['version'] %}<span class="pkg-version">{{ pkg['version'] }}</span>{% if pkg['release'] %}-<span class="pkg-version pkg-release">{{ pkg['release'] }}</span>{% endif %}{% endif %}
</h1>
<p class="description pkg-description">{{ pkg['description']|d('', true) }}</p>
{% endblock %}

{% block main %}
<div class="package" id="{{ pkg['name'] }}">
{% if pkg['tree'] -%}
<p><b class="pkg-field">Section</b>: {{ pkg['category'] + '-' if pkg['category'] else '' }}{{ pkg['section'] }}</p>
{%- endif %}
{% if pkg['dependency'] -%}
{% for rel in dep_rel -%}
{% if rel in pkg['dependency'] -%}
  {% for archrow in pkg['dependency'][rel] -%}<p>
    <b class="pkg-field pkg-dep-rel">{{ dep_rel[rel] }}</b>{% if archrow[0] %} [{{ archrow[0] }}]{% endif %}:
    {% for dep in archrow[1] -%}
    {% if loop.index != 1 %},{% endif %}
    <span class="pkg-dep"><a href="{{ dep[0] }}">{{ dep[0] }}</a>{{ dep[1] }}{% if dep[2] %} ({{ dep[2] }}){% endif %}</span>
    {%- endfor %}
  </p>{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
<p><b class="pkg-field">Links</b>:
<a href="/changelog/{{ pkg['name']|urlencode }}">Changelog</a>,
{% if pkg['hasrevdep'] -%}
<a href="/revdep/{{ pkg['name']|urlencode }}">Reverse dependency</a>,
{%- endif %}
<a href="/qa/packages/{{ pkg['name']|urlencode }}">QA Page</a>,
<a href="https://github.com/AOSC-Dev/{{ pkg['tree'] }}/issues/new?template=bug-report.md&title={{ pkg['name']|urlencode }}%3A%20">Report issues</a></p>
{% if pkg['srctype'] -%}
<p><b class="pkg-field" title="auto detected">Upstream</b>:
{% if 'srcurl_base' in pkg -%}
<a href="{{ pkg['srcurl_base'] }}">source</a>
<a href="{{ pkg['srcurl'] }}">({{ pkg['srctype'] }})</a>
{%- else -%}
<a href="{{ pkg['srcurl'] }}">source ({{ pkg['srctype'] }})</a>
{%- endif %}{% if 'upstream' in pkg -%}, latest version
<span class="pkg-upstream pkg-upstream-{{ pkg['upstream']['ver_compare'] }}" title="{{ pkg['upstream']['updated']|strftime('%Y-%m-%d %H:%M:%S') }}">
<a href="{{ pkg['upstream']['url'] }}">{{ pkg['upstream']['version'] }}</a></span>
{%- endif %}
</p>
{%- endif %}
<h2>Available versions</h2>
{% if pkg['full_version'] is none -%}
<p class="pkg-deprecated">(Deprecated)</p>
{% endif -%}
<div class="table-wrapper">
<table class="packages">
<thead>
  <tr>
    <th>Version</th>
    {% for version in pkg['versions'] -%}
    {% if version[1] -%}
    <th class="dpkg-ver dpkg-{{ version[1] }}" title="{{ version[1] }}">
      <a href="https://github.com/AOSC-Dev/{{ pkg['tree'] }}/tree/{{ version[1] }}/{{ pkg['category'] + '-' if pkg['category'] else '' }}{{ pkg['section'] }}/{{ pkg['directory'] }}/spec">{{ version[0] }}</a></th>
    {%- else -%}
    <th class="dpkg-ver">{{ version[0] }}</th>
    {%- endif %}
    {%- endfor %}
  </tr>
</thead>
<tbody>
{% for row in pkg['dpkg_matrix'] -%}
  <tr>
    <td>{{ row[0] }}</td>
    {% for col in row[1] -%}
      {% if col -%}
      {% if col['testing'] == 1 -%}
      <td class="dpkg dpkg-testing" title="testing">
      {%- elif col['testing'] == 2 -%}
      <td class="dpkg dpkg-explosive" title="explosive">
      {%- else -%}<td class="dpkg">{%- endif %}
        <a href="/files/{{ col['repo'] }}/{{ pkg['name']|urlencode }}/{{ pkg['versions'][loop.index0][0]|urlencode }}">
          {{ col['size']|sizeof_fmt }}
        </a>
      </td>{%- else -%}<td class="dpkg dpkg-missing"></td>
      {%- endif %}
    {%- endfor %}
  </tr>
{%- endfor %}
</tbody>
</table>
</div>
</div>
{% endblock main %}
