{% extends "base.html" %}
{% block title %}{{ pkg['name'] }} - AOSC Packages{% endblock %}
{% block banner %}<h1>{{ pkg['name'] }}
<span class="pkg-version">{{ pkg['version'] }}</span>{% if pkg['release'] %}-<span class="pkg-version pkg-release">{{ pkg['release'] }}</span>{% endif %}
</h1>
<p class="pkg-description">{{ pkg['description'] }}</p>
{% endblock %}

{% block main %}
<div class="package" id="{{ pkg['name'] }}">
{% if pkg['tree'] -%}
<p><b class="pkg-field">Source</b>: <a href="https://github.com/AOSC-Dev/{{ pkg['tree'] }}/tree/{{ 'staging' if pkg['tree'] == 'aosc-os-abbs' else 'master' }}/{{ pkg['category'] + '-' if pkg['category'] else '' }}{{ pkg['section'] }}/{{ pkg['directory'] }}/spec"><span class="pkg-section">{{ pkg['tree'] }}/{{ pkg['category'] + '-' if pkg['category'] else '' }}{{ pkg['section'] }}/</span>{{ pkg['directory'] }}</a></p>
{%- endif %}
{% if pkg['dependency'] -%}
{% for rel in dep_rel -%}
{% if rel in pkg['dependency'] -%}<p>
<b class="pkg-field pkg-dep-rel">{{ dep_rel[rel] }}</b>:
{% for dep in pkg['dependency'][rel] -%}
<span class="pkg-dep"><a href="{{ dep[0] }}">{{ dep[0] }}</a>{{ dep[1] }}</span>
{% endfor %}
</p>{%- endif %}
{%- endfor %}
{%- endif %}
<h2>Available versions</h2>
<div class="table-wrapper">
<table class="packages">
<thead>
  <tr>
    <th>Version</th>
    {% for repo in pkg['repo'] -%}
    <th>{{ repo }}</th>
    {%- endfor %}
  </tr>
</thead>
<tbody>
{% for row in pkg['dpkg_matrix'] -%}
  <tr>
    <td class="dpkg-ver">{{ row[0] }}</td>
    {% for col in row[1] -%}
      {% if col -%}<td class="dpkg">
        <a href="https://repo.aosc.io/{{ repos[col['repo']]['path'] }}/{{ col['filename'] }}">
          {{ col['size']|sizeof_fmt }}
        </a>
      </td>{%- else -%}<td class="dpkg dpkg-missing"></td>
      {%- endif %}
    {%- endfor %}
  </tr>
{%- endfor %}
</tbody>
</table>
</div>
</div>
{% endblock main %}
