{% extends "base.html" %}
{% block title %}{{ pkg['name'] }} - QA - AOSC OS Packages{% endblock %}
{% block navpath %}<li class="nav-path"><a href="/qa/">QA</a></li>{% endblock %}
{% block banner %}<h1>{{ pkg['name'] }}
{% if pkg['version'] %}<span class="pkg-version">{{ pkg['version'] }}</span>{% if pkg['release'] %}-<span class="pkg-version pkg-release">{{ pkg['release'] }}</span>{% endif %}{% endif %}
</h1>
<p><a href="/packages/{{ pkg['name'] }}">← Back to package details</a></p>
{% endblock %}

{% block main %}
<div class="package" id="{{ pkg['name'] }}">
<section class="pkg-info">
{% if pkg['tree'] -%}
<p><b class="pkg-field">Section</b>: {{ pkg['category'] + '-' if pkg['category'] else '' }}{{ pkg['section'] }}</p>
{%- endif %}
{% if pkg['dependency'] -%}
{% for rel in dep_rel -%}
{% if rel in pkg['dependency'] -%}
  {% for archrow in pkg['dependency'][rel] -%}<p>
    <b class="pkg-field pkg-dep-rel">{{ dep_rel[rel] }}</b>{% if archrow[0] %} [{{ archrow[0] }}]{% endif %}:
    {% for dep in archrow[1] -%}
    {% if loop.index != 1 %},{% endif %}
    <span class="pkg-dep"><a href="{{ dep[0] }}">{{ dep[0] }}</a>{{ dep[1] }}{% if dep[2] %} ({{ dep[2] }}){% endif %}</span>
    {%- endfor %}
  </p>{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
<p><b class="pkg-field">Links</b>:
<a href="/changelog/{{ pkg['name']|urlencode }}">Changelog</a>,
{% if pkg['hasrevdep'] -%}
<a href="/revdep/{{ pkg['name']|urlencode }}">Reverse dependency</a>,
{%- endif %}
<a href="https://github.com/AOSC-Dev/{{ pkg['tree'] }}/issues/new?template=bug-report.yaml&title={{ pkg['name']|urlencode }}%3A%20">Report issues</a></p>

{% if not issues %}
<p class="tips">No issues. Keep up the good work.</p>
{% endif %}
</section>

{% for issue in issues %}
<h2 id="{{ issue['errno'] }}" class="pkg-issue">Issue {{ issue['errno'] }}</h2>
<p class="pkg-issue-desc">{{ issue_code[issue['errno']] }}</p>
{% for e in issue['examples'] %}
<h3 id="{{ issue['errno'] }}-{{ loop.index }}">{{ e['keys'][0][0] }} ({{ e['keys'][0][1] }})</h3>
{% if e['keys']|length > 1 %}
<p><b class="pkg-field">Also</b>: {% for i in range(e['keys']|length-1) %}
{% if loop.index > 1 %}, {% endif %}{{ e['keys'][i+1][0] }}
({{ e['keys'][i+1][1] }}){% endfor %}</p>
{% endif %}
{% if issue['errno'] in [101, 102] %}
<p><b class="pkg-field">File</b>: {{ e['files'][0][1] }}</p>
<p><b class="pkg-field">Commit</b>: <a href="https://github.com/AOSC-Dev/{{ e['files'][0][2]['tree'] }}/commit/{{ e['files'][0][2]['githash'] }}">{{ e['files'][0][2]['githash'] }}</a></p>
<p><b class="pkg-field">Error</b>: </p>
<pre>{{ e['files'][0][2]['err']|e }}</pre>
{% elif issue['errno'] == 103 %}
<p><b class="pkg-field">Name</b>: {{ pkg['name'] }}</p>
<p><b class="pkg-field">Explanation</b>: Package names must consist only of lower case letters (a-z), digits (0-9), plus (+) and minus (-) signs, and periods (.). They must be at least two characters long and must start with an alphanumeric character.</p>
{% elif issue['errno'] == 301 %}
<p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e['files'][0][1] }}">{{ e['files'][0][1] }}</a></p>
<p><b class="pkg-field">Size</b>: {{ e['files'][0][2]['size']|sizeof_fmt }}</p>
{% elif issue['errno'] == 302 %}
<p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e['files'][0][1] }}">{{ e['files'][0][1] }}</a></p>
<p><b class="pkg-field">Size</b>: {{ e['files'][0][2]['size']|sizeof_fmt }}</p>
<p><b class="pkg-field">Median size</b>: {{ e['files'][0][2]['medsize']|sizeof_fmt }}</p>
{% elif issue['errno'] == 303 %}
<p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e['files'][0][1] }}">{{ e['files'][0][1] }}</a></p>
<p><b class="pkg-field">Should be</b>: {{ e['files'][0][2]['suggestion'] }}</p>
{% elif issue['errno'] == 311 %}
<p><b class="pkg-field">Maintainer</b>: {{ e['files'][0][2]['maintainer']|replace('@', '<span class="email"></span>'|safe) }}</p>
<p><b class="pkg-field">Committer</b>: <a href="https://github.com/AOSC-Dev/{{ e['files'][0][2]['tree'] }}/commit/{{ e['files'][0][2]['githash'] }}">{{ e['files'][0][2]['committer']|d('(not found)', true)|replace('@', '<span class="email"></span>'|safe) }}</a></p>
{% elif issue['errno'] > 320 and issue['errno'] < 330 %}
<p><b class="pkg-field">{{ e['filecount'] }} File{% if e['filecount'] > 1 %}s{% endif %}</b></p>
<ul class="pkg-files">
{% for file in e['files'] %}
<li><span class="pkg-ls-perm{% if file[0] < 0 %} pkg-issue-crit{% endif %}">{{ file[2]['perm']|ls_perm(file[2]['ftype']) }}</span> <span class="pkg-ls-user">{{ file[2]['uname'] }}({{ file[2]['uid'] }})</span> <span class="pkg-ls-user">{{ file[2]['gname'] }}({{ file[2]['gid'] }})</span> <span class="pkg-ls-size num">{{ file[2]['size']|sizeof_fmt_ls }}</span> {{ file[1] }}</li>
{%- endfor %}
{% if e['files']|length < e['filecount'] %}
<li>&hellip;</li>
{% endif %}
</ul>
{% elif issue['errno'] in [401, 411] %}
{% if issue['errno'] == 401 -%}
<p><b class="pkg-field">Missing build dependencies</b>:</p>
{%- else -%}
<p><b class="pkg-field">Missing dependencies</b>:</p>
{%- endif %}
<ul>
{% for dep in e['files'] -%}
<li>{% if 'relationship' in dep[2] -%}
<b class="pkg-field pkg-dep-rel">{{ dep[2]['relationship'] }}</b>:
{% endif %}{{ dep[1] }}{% if dep[2]['relop'] %}
{{ dep[2]['relop'] }}{{ dep[2]['version'] }}{% endif %}
</li>
{%- endfor %}
</ul>
{% elif issue['errno'] == 402 %}
<p><b class="pkg-field">Commit</b>: <a href="https://github.com/AOSC-Dev/{{ e['files'][0][2]['tree'] }}/commit/{{ e['files'][0][2]['githash'] }}">{{ e['files'][0][2]['githash'] }}</a></p>
<p><b class="pkg-field">Path</b>: {{ e['files'][0][1] }}</p>
{% for path in e['files'][0][2]['paths'] %}
<p><b class="pkg-field">Duplicate</b>: {{ path }}</p>
{%- endfor %}
{% elif issue['errno'] == 412 %}
<p><b class="pkg-field">File</b>: <a href="https://repo.aosc.io/debs/{{ e['files'][0][1] }}">{{ e['files'][0][1] }}</a></p>
{% for path in e['files'][0][2]['paths'] %}
<p><b class="pkg-field">Duplicate</b>: <a href="https://repo.aosc.io/debs/{{ path }}">{{ path }}</a></p>
{%- endfor %}
{% elif issue['errno'] in [421, 432] %}
<p>
{% if issue['errno'] == 421 %}
<b class="pkg-field pkg-dep-rel">Conflicts</b>:
{%- else -%}
<b class="pkg-field pkg-dep-rel">Depends</b>:
{%- endif %}
{% for dep in e['summary'] -%}
{% if loop.index != 1 %},{% endif %}
<span class="pkg-dep"><a href="{{ dep }}">{{ dep }}</a></span>
{%- endfor %}
</p>
{% for files in e['files_bypkg'] -%}
<h4>{% for key in files['keys'] -%}{% if loop.index != 1 %} ,{% endif %}{{ '%s %s (%s)'|format(*key) }}{%- endfor %}</h4>
<ul class="pkg-files">
{% for file in files['files'] %}
<li>{{ file }}</li>
{%- endfor %}
{% if files['files']|length < files['filecount_estimated'] %}
<li>&hellip;</li>
{% endif %}
</ul>
{%- endfor %}
{% elif issue['errno'] == 431 %}
{% if e['summary'] %}
<p><b class="pkg-field pkg-dep-rel">Rebuild caused by</b>:
{% for dep in e['summary'] -%}
{% if loop.index != 1 %},{% endif %}
<span class="pkg-dep"><a href="{{ dep }}">{{ dep }}</a></span>
{%- endfor %}
</p>
{% endif %}
{% for files in e['files_bypkg'] -%}
<h4>{% for key in files['keys'] -%}
{% if loop.index != 1 %}, {% endif %}{% if key[0] -%}
{{ '%s %s (%s)'|format(*key) }}{% else %}(Dependency not found)
{%- endif %}{%- endfor %}</h4>
<ul class="pkg-files">
{% for file in files['files'] %}
<li>{{ file[0] }}
{% if file[1] %}(provided: {{ file[1] }}){% endif %}</li>
{%- endfor %}
{% if files['files']|length < files['filecount_estimated'] %}
<li>&hellip;</li>
{% endif %}
</ul>
{%- endfor %}
{% else %}
<ul class="pkg-files">
{% for file in e['files'] %}
<li>{{ file[1] }}: {{ file[2] }}</li>
{%- endfor %}
</ul>
<p>({{ e['filecount'] }} files)</p>
{% endif %}

{%- endfor %}
{%- endfor %}
</div>
{% endblock main %}
