{% extends "base.html" %}
{% block title %}Reverse dependencies of "{{ name }}" - AOSC OS Packages{% endblock %}
{% block banner %}<h1>Reverse dependencies of "{{ name }}"</h1>
<p><a href="/packages/{{ name }}">← Back to package details</a></p>
{% endblock %}
{% block main %}
{% for rel in dep_rel_rev -%}
{% if rel in revdeps -%}<p>
<b class="pkg-field pkg-dep-rel">{{ dep_rel_rev[rel] }}</b>:
{% for dep in revdeps[rel] -%}
{% if loop.index != 1 %},{% endif %}
<span class="pkg-dep"><a href="{{ dep['package'] }}">{{ dep['package'] }}</a>{{ dep['version'] }}</span>
{%- endfor %}
</p>{%- endif %}
{%- endfor %}
{% endblock main %}
