body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 14px;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
}
pre, code {
  font-size: 95%;
  color: #3f5172;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
a {
  color: #3f5172;
  text-decoration: none;
}
a:hover, a:focus {
  color: #577db5;
  text-decoration: underline;
}
a:visited {
  color: #242e41;
  text-decoration: underline;
}
.banner {
  margin: 0;
  color: #333;
  padding: 30px 0;
  background-color: #f2f2f2;
}
.banner h1 {
  font-size: 40px;
  margin: .3em 0 .5em;
  color: #3f5172;
}
.banner h2 {
  font-size: 20px;
  margin: 5px 0;
}
.package h2 {
  font-size: 1.4em;
  margin-bottom: .5em;
}
.package .pkg-section {
  color: #777;
  margin: 0.2em 0 0.8em;
}
p {
  margin: 0 0 .6em;
}
main {
  margin-top: 2em;
}
footer {
  margin-top: 3em;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 100%;
  margin: 1em 0;
}
td, th {
  border: 1px solid #ddd;
  padding: .5em;
}
th {
  text-align: left;
  background-color: #f5f5f5;
}
tr {
  background-color: #fff;
}
.table-wrapper {
  overflow: auto;
}
.packages td, .packages th {
  border-left: none;
  border-right: none;
}
.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0,0,0,.1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
.autocomplete-suggestion {
  display: block;
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #333;
}
.autocomplete-suggestion b {
  font-weight: normal;
  color: #577db5;
}
.autocomplete-noredir {
  font-style: italic;
  text-indent: 0.4em;
}
.autocomplete-suggestion.selected {
  background: #f0f0f0;
}
.autocomplete-suggestion:hover, .autocomplete-suggestion:focus {
  text-decoration: none;
  color: #333;
}
@media (min-width: 768px) {
.container {
  width: 750px;
}
}
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
@media (min-width: 1200px) {
.container {
    width: 1098px;
}
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#nav {
  border: none;
  background-color: #32405a;
  min-height: 45px;
  margin-bottom: 0;
}
#nav li {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
.navbar-ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
}
.navbar-ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}
#nav li.afe-primary {
  margin-left: -15px;
  font-size: 18px;
  min-width: 100px;
  background-color: #21324b;
}
#nav li.afe-highlight {
  margin-right: -15px;
  float: right;
  font-size: 18px;
  min-width: 100px;
}
#searchinput::placeholder {
  color: #ddd;
}
#searchinput {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  height: 45px;
  padding: 3px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #475c81;
  border: none;
  outline: 0;
}
@media (max-width: 768px) {
.container-navbar {
  padding-left: 0;
  padding-right: 0;
}
#nav li.afe-primary {
  margin-left: 0;
}
#nav li.afe-highlight {
  margin: 0;
  float: none;
  width: 100%;
}
#searchinput {
  width: 100%;
}
}
.pkg-more {
  text-align: center;
  background-color: #f5f5f5;
}
.pkg-dep {
  white-space: nowrap;
}
.dpkg-ver-deprecated {
  background-color: rgba(128, 128, 128, .12);
}
.dpkg-ver-old, .pkg-missing {
  background-color: rgba(255, 255, 0, .12);
}
.dpkg-ver-same, .dpkg-ver-new {
  background-color: rgba(0, 255, 0, .12);
}
.dpkg-ver, .pkg-version {
  white-space: nowrap;
}
.legend p {
  padding: 0.2em;
  margin: 0.2em 0;
}
.repo-category {
  padding-left: 1.8em;
}
.repo-testing, .dpkg-testing {
  background-color: aliceblue;
}
.repo-name-testing::before {
  content: '└';
}
.sql-special {
  font-style: italic;
  background-color: rgba(255, 255, 0, .12);
}
#sqlinput {
  width: 100%;
  font-family: monospace;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: 0;
}
#sqlinput:focus {
  border-color: #bbb;
}
.inputsubmit {
  color: #fff;
  padding: .5em 2em;
  margin-bottom: .75em;
  background-color: #475c81;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  float: right;
}
.inputsubmit:focus, .inputsubmit:hover {
  background-color: #546e9c;
  outline: 0;
}
.inputsubmit:active {
  background-color: #32405a;
  outline: 0;
}
span[title] {
  border-bottom: 1px dashed #999;
}
.tab {
  display: inline-block;
  min-width: 4em;
  margin-top: 0.1em;
}
.w45 {
  width: 45%;
}
.pagination {
  margin-top: 1em;
  text-align: right;
}
.page-btn {
  font-size: 1.05em;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.2em 0.25em;
  background-color: #eee;
  border-radius: 2px;
}
.page-ellip {
  margin: 0 0.2em;
}
a.page-btn {
  background-color: #e3f2fd;
}
a.page-btn:hover, a.page-btn:focus, a.page-btn:visited {
  text-decoration: none;
}
.error {
  background-color: rgba(255, 0, 0, .12);
  padding: .5em;
  margin-bottom: .5em;
}
.tips {
  border: 1px solid #ddd;
  background-color: aliceblue;
  padding: .5em;
  margin-top: 1em;
  margin-bottom: .5em;
}
.page-footer {
  text-align: center;
  margin-top: 2em;
  padding: .5em 0;
  border-top: 1px solid #ddd;
}
